* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f9f9f9;
    color: #21243d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  /* NAVBAR */
  .navbar {
    background-color: white;
    padding: 20px 60px;
    width: 1200px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  /* HERO */
  .hero {
    background-color: white;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
  }
  
  .hero-text {
    max-width: 500px;
  }
  
  .hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .btn {
    background: #ff6464;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .hero-image img {
    width: 250px;
    border-radius: 50%;
  }
  
  /* POSTS */
  .posts {
    width: 1200px;
    background: #bdebfa;
    padding: 40px 60px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .post-cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  /* WORKS */
  .works {
    padding: 40px 60px;    
    background-color: white;
   width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .work { 
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0px;
    border-bottom: 1px solid #8695a4;
  }
  
  .work img {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: -7px -7px 12px -1px rgba(189,235,250,0.75);
    -webkit-box-shadow: -7px -7px 12px -1px rgba(189,235,250,0.75);
    -moz-box-shadow: -7px -7px 12px -1px rgba(189,235,250,0.75);
  }
  .descripcion{
    margin: 10px;
    margin: 0px 50px;
  }
  .tag {
    background: #142850;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
  }
  
  .category {
    margin-left: 10px;
    color: #8695a4;
  }
  
  /* FOOTER */
  footer {
    background-color: white;
    width: 1200px;
    text-align: center;
    padding: 30px;
    font-size: 14px;
  }
  