* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
  }
  
  body {
    background: #f9f9f9;
    color: #21243d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  /* NAVBAR */
  .navbar {
    background-color: white;
    padding: 20px 60px;
    width: 1200px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  /* HERO */
  .hero {
    background-color: white;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px 40px 100px 40px;
  }
  
  .hero-text {
    max-width: 600px;
    margin-left: 20px;
  }
  
  .hero-text h1 {
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  .hero-text p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px;
  }
  
  .btn {
    background: #ff6464;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
  }


  
  .hero-image img {
    width: 250px;
    border-radius: 50%;
    margin-right: 50px;
  }
  
  /* POSTS */
  .posts {
    width: 1200px;
    background: #EDF7FA;
    padding: 40px 60px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .post-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .card img{
    width: 100px;
    margin:4px auto;
  }
  .habilidades{
    display: flex;
    margin: 5px;
  }
  .habilidades .tag {
    background: #142850;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin: 5px;
  }
  
  /* WORKS */
  .works {
    padding: 20px 60px;    
    background-color: white;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .work { 
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    margin: 20px 0px;
    border-bottom: 1px solid #8695a4;
  }
  
  .work img {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 20px;
    -webkit-box-shadow: -8px -3px 24px 0px rgba(33, 36, 61, 1);
    -moz-box-shadow: -8px -3px 24px 0px rgba(33, 36, 61, 1);
    box-shadow: -8px -3px 24px 0px rgba(33, 36, 61, 1);
  }
  .descripcion{
    margin: 10px;
    margin: 0px 50px;
  }
  .meta{
    margin: 10px 5px;
  }
  .meta .tag {
    background: #142850;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
  }
  
  .meta .category {
    margin-left: 10px;
    color: #8695a4;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 12px 0;
    padding-left: 18px;
    font-size: 14px;
  }
  
  .features li {
    margin:5px 15px;
  }
  
  .actions {
    margin-top: 14px;
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 8px 14px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .btn.demo {
    background: #6ad7f8;
    color: #fff;
  }
  
  .btn.code {
    background: #ff6464;
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.85;
  }
  
  /* FOOTER */
  footer {
    background-color: white;
    width: 1200px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  .redes{
    margin: 10px;
    display: flex;
    justify-content: center;

  }
  .redes i{
    font-size: 50px;
    color: #21243D;
  }
  